@{
    ViewBag.Title = "错误";
}

<div class="text-center">
    <h1>错误</h1>
    <h2 class="text-red">@ViewBag.ErrorMessage</h2>

    <img src="~/error.png" width="500px" style="margin-top:100px" alt="">
</div>