@model dynamic

@{
    ViewData["Title"] = "关于";
}

<!DOCTYPE html>

<html>

<head>
    <title>title</title>
</head>

<body>
    <div>
        <h1>关于</h1>
        <p> 这里是关于我的公司 </p>
    </div>
</body>

</html>