@{
    // Layout - 指定布局文件 本身传入到 @readbody()
    // _ViewStart.cshtml - 默认布局文件

    ViewData["Title"] = "主页";
}

<!DOCTYPE html>

<html>

<head>
    <title>title</title>
</head>

<body>
    <div>
        <h1>主页</h1>
        @* p - 段落标签 *@
        <p>欢迎来到主页</p>
    </div>
</body>

</html>