<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="~/StyleSheet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<div class="container">
    <div class="navbar">
        <img asp-append-version="true" src="~/Logo.png" width="25px" alt=""/>
        <div style="display: inline-block" class="navbar-brand">CRUD Demo</div>
        
        <ul>
            <li>
                <a asp-controller="Person" asp-action="Home" >人员信息</a>
                <a asp-controller="Countries" asp-action="UploadFromExcel" >上传国家Excel</a>
            </li>
        </ul>
    </div>

    <div class="page-content">
        @RenderBody()
    </div>
</div>

@RenderSection("Scripts", required: false)

</body>

</html>