@page "/servers/add"

<h3>Add Server</h3>
<br>

<EditForm Model="Server" FormName="formServer" OnValidSubmit="Submit">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">名称</label>
        </div>
        <div class="col-6">
            <InputText @bind-Value="Server.Name" class="form-control"></InputText>
        </div>
        <div class="col">
            <ValidationMessage For="() => Server.Name"></ValidationMessage>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">城市</label>
        </div>
        <div class="col-6">
            <InputText @bind-Value="Server.City" class="form-control"></InputText>
        </div>
        <div class="col">
            <ValidationMessage For="() => Server.City"></ValidationMessage>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">在线</label>
        </div>
        <div class="col-6">
            <InputCheckbox @bind-Value="Server.IsOnline" class="form-check-input"></InputCheckbox>
        </div>
    </div>

    <br>
    <button class="btn btn-primary" type="submit">更新</button>
    &nbsp;
    <a href="/servers" class="btn btn-primary">关闭</a>

    <ValidationSummary></ValidationSummary>

</EditForm>

@code {
    [Inject] public required NavigationManager NavigationManager { get; set; }
    [Inject] public required IServersRepository ServersRepository { get; set; }

    [SupplyParameterFromForm] private Server Server { get; } = new() { IsOnline = false };

    private async Task Submit()
    {
        await ServersRepository.AddServer(Server);
        NavigationManager.NavigateTo($"/servers/back_from/{Server?.City}");
    }

}