@{
    ViewBag.Title = "主页";
}

<!DOCTYPE html>
<body>
<button class="button button-blue-back" id="load-friends-button">加载朋友</button>
<div id="list">
    
</div>
<script src="friends.js"></script>
</body>

