@{
    Layout = ViewBag.ProductId != null ? "_ProductsLayout" : "_Layout";
    ViewData["Title"] = "查询";
}

<!DOCTYPE html>

<html>

<head>
    <title>title</title>
</head>

<body>
    <div>
        <h1>查询</h1>
        <p>产品资料查询</p>
    </div>
</body>

</html>