<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <link href="StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">
                View ComponentDemo App
            </div>
            <ul>
                <li> <a asp-controller="Home" asp-action="Home">主页</a> </li>
                <li> <a asp-controller="Home" asp-action="About">关于</a> </li>
            </ul>
        </div>
        <div class="page-content">@RenderBody()</div>
    </div>
</body>

</html>